

/* Responsive */   /* Responsive */   /* Responsive */


@media screen and (max-width: 1186px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem 2rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 20rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 37rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles {
        width: 110%;
        height: 90%;
    }
    .home .titles p {
        margin: 9% 5%;
        width: 85%;
        font-size: 1.5rem;
    }
    .home .col-md-6 {
        margin: 28% 24%;
    }
    .home .button {
        width: 100%;
        margin: 18% 35%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 4rem;
    }
    .about .container #men {
        margin-top: 20%;
        width: 100%;
        height: 75%;
    }
    .about #colmd {
        margin: 4rem 3rem;
    }
    .about .info {
        width: 110%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer .col-md-4 {
        text-align: center;
    }
}
@media screen and (max-width: 1024px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem 2rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 20rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 37rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles {
        width: 110%;
        height: 90%;
    }
    .home .titles p {
        margin: 9% 5%;
        width: 85%;
        font-size: 1.5rem;
    }
    .home .col-md-6 {
        margin: 28% 24%;
    }
    .home .button {
        width: 100%;
        margin: 18% 35%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 4rem;
    }
    .about .container #men {
        margin-top: 10%;
        width: 110%;
        height: 85%;
    }
    .about #colmd {
        margin: 4rem 3rem;
    }
    .about .info {
        width: 110%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer .col-md-4 {
        text-align: center;
    }
}
@media screen and (max-width: 993px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 9rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 31rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width:85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        padding: 0;
        margin: 20% 24%;
    }
    .home .button {
        width: 100%;
        margin: 4rem 8rem;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .portfolio .overlay p {
        font-size: 0.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 70%;
    }
    .about #colmd {
        margin: 10% 10%;
    }
    .about .container h4 {
        font-size: 0.9rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 0.8rem 0;
        font-size: 0.8rem;
    }
    .about .info {
        width: 120%;
        height: 57%;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 11px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        font-size: 11px;
        margin: 0;
    }
    .footer .col-md-4 {
        font-size: 11px;
        text-align: center;
    }
}
@media screen and (max-width: 976px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 9rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 31rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width:85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        padding: 0;
        margin: 20% 24%;
    }
    .home .button {
        width: 100%;
        margin: 4rem 8rem;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .portfolio .overlay p {
        font-size: 0.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 70%;
    }
    .about #colmd {
        margin: 10% 10%;
    }
    .about .container h4 {
        font-size: 0.9rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 0.8rem 0;
        font-size: 0.8rem;
    }
    .about .info {
        width: 120%;
        height: 57%;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 11px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        font-size: 11px;
        margin: 0;
    }
    .footer .col-md-4 {
        font-size: 11px;
        text-align: center;
    }
}
@media screen and (max-width: 767px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 31rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 30% 18%;
    }
    .home .button {
        width: 100%;
        margin: 4rem 8rem;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        width: 400px;
        margin: 3rem 3rem 1rem;
        font-size: 1.4rem;
    }
    .portfolio .overlay p {
        margin: 1rem;
        text-align: center;
        font-size: 1rem;
        width: 90%;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 90%;
        height: 100%;
    }
    .about #colmd {
        width: 75%;
        height: 100%;
    }
    .about .container h4 {
        text-align: center;
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info {
        margin: 10% 5% 5% 5%;
        width: 100%;
        height: 57%;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 701px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 36rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        margin: 5% 5%;
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 40% 0;
    }
    .home .button {
        width: 100%;
        margin: 20% 38%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 105%;
    }
    .about #colmd {
        margin: 15% 10% 5%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 650px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 36rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        margin: 5% 5%;
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 40% 0;
    }
    .home .button {
        width: 100%;
        margin: 20% 38%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 105%;
    }
    .about #colmd {
        margin: 15% 10% 5%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 601px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 36rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        margin: 5% 5%;
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 40% 0;
    }
    .home .button {
        width: 100%;
        margin: 20% 39%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 105%;
        height: 105%;
    }
    .about #colmd {
        margin: 15% 10% 5%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 550px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 35rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 40% 0;
    }
    .home .button {
        width: 100%;
        margin: 20% 38%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 100%;
        height: 115%;
    }
    .about #colmd {
        margin: 25% 10% 5%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 501px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 35rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 40% 0;
    }
    .home .button {
        width: 100%;
        margin: 20% 37%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 110%;
    }
    .about #colmd {
        margin: 20% 10% 5%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 460px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 38rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 50% 0;
    }
    .home .button {
        width: 100%;
        margin: 19% 35%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        width: 80%;
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 110%;
    }
    .about #colmd {
        margin: 20% 10% 5%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 400px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 37rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width: 85%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 50% 0;
    }
    .home .button {
        width: 100%;
        margin: 25% 35%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 115%;
    }
    .about #colmd {
        width: 90%;
        margin: 4rem 1rem;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media screen and (max-width: 370px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 31rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width: 85%;
        font-size: 1.3rem;
        margin-top: 2rem;
    }
    .home .col-md-6 {
        margin: 50% 0;
    }
    .home .button {
        width: 100%;
        margin: 23% 33%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
           
    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        width: 70%;
        margin-top: 1rem;
        font-size: 1rem;
    }
    .portfolio .overlay p {
        margin: 1rem;
        text-align: center;
        font-size: 1rem;
        width: 90%;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 110%;
    }
    .about #colmd {
        width: 100%;
        margin: 10% 5% 10% 0;
    }
    .about .container h4 {
        font-size: 1rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        
        text-align: center;
    }
}
@media (min-width: 315px) and (max-width: 330px){
    html, body {
        overflow-x: hidden;
    }
    .dot, .dot2 {
        width: 60px;
        height: 60px;
    }
    .navbar button {
        border: none!important;
    }
    .navbar button:focus {
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand {
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change {
        background-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 6rem;
    }
    .navbar-nav li {
        margin: 10px;
    }
    
    /* Home */

    .home {
        height: 31rem;
    }
    .home .titles h3 {
        padding: 0;
        font-size: 1rem;
    }
    .home .titles p {
        width: 85%;
        margin: 2% 2%;
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .home .col-md-6 {
        margin: 50% 0;
    }
    .home .button {
        width: 100%;
        margin: 20% 33%;
    }
    .home .button a {    
        background-color: var(--colorDefault);
        color: #000000;
        border-radius: 20px;
        padding: 0.9rem 1.7rem;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    /* Services */

    .services {
        padding: 3rem 0;
    }
    .services .container {
        width: 90%;
    }
    .services .container .text-center1 {
        text-align: center;
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services .container h3 {
        font-size: 1.2rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .services p {
        text-align: center!important;
        font-size: 0.9rem;
        width: 100%;
    }
    .services #ozga {
        padding: 1.4rem 1.7rem;
    }
    .services .card .card-header i {
        font-size: 2rem;
        color: #ffffff;
        border-radius: 50px;
        background-color: #EBD61A;
        padding: 1.2rem;
    }

    /* portfolio */

    .portfolio {
        padding-top: 1rem; 
    }
    .portfolio .container {
        padding: 1rem;
    }
    .portfolio .container h3 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto',sans-serif;
    }
    .portfolio #poo1 {
        font-size: 0.9rem;
    }
    .portfolio .col-md-4 {
        padding: 0.5rem;
    }
    .portfolio .card-header .overlay {
        width: 100%;
        height: 100%;
    }
    .portfolio .overlay h4 {
        margin-top: 1rem;
        font-size: 1.6rem;
    }

    /* About */

    .about {
        padding: 5rem 0 0 0;
    }
    .about .container #abo1 {
        font-size: 1.7rem;
        text-transform: none;
        font-family: 'Roboto', sans-serif;
    }
    .about .container #abo2 {
        font-size: 0.9rem;
    }
    .about .container .row .col-md-4 {
        margin: 1.5rem 3rem;
    }
    .about .container #men {
        width: 110%;
        height: 115%;
    }
    .about #colmd {
        width: 100%;
        margin: 20% 3%;
    }
    .about .container h4 {
        font-size: 1.2rem;
    }
    .about .info p {
        letter-spacing: 0.2px;
        margin: 1.5rem 0;
        font-size: 0.9rem;
    }
    .about .info ul {
        padding: 1rem;
        justify-content: center;
    }
    .about .info ul li {
        list-style-type: none;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
    }
    .about #oqi {
        padding-right: 2rem; 
    }
    .about #soh {
        padding-right: 1.3rem; 
    }
    .about #joy {
        padding-right: 1.2rem; 
    }
    .about #yil {
        padding-right: 1.9rem; 
    }
    
    /* footer */

    .footer {
        background-color: #060c1b;
        padding: 1rem;
    }
    .footer #sur {
        margin-top: 1rem;
    }
    .footer .col-md-4 {
        text-align: center;
    }
}